<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HSL_API_KEY</key>
	<string>$(HSL_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigureWidgetIntent</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to find and sort nearby transit stops.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>With "Always Allow" permission, the widget can automatically update to show the nearest stop as you move around the city. This uses battery-efficient significant location changes (only updates when you move ~500 meters).</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
